/*!
Theme Name: A2000 ERP V2
Author: Reya Apolonio
Description: Exclusive for A2000 ERP website use only

Version: 2.0
*/

/* IMPORT CUSTOM CSS */
@import url("assets/css/icons.css");
@import url("assets/css/sizes-displays.css");
@import url("assets/css/fonts.css");

/* IMPORT fonts */
@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url(assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'MontserratMedium';
    src: url(assets/fonts/Montserrat-Medium.ttf) format('truetype');
    font-style: normal;
}