
#headinfoSupportedContent .flex-column > span:first-child {
    font-family: MontserratSemiBold;
}
#location-info, #email-info, #phone-info {
    font-family: Montserrat;
    font-size: 13px;
}
#headInfoSubmenu li,
#primaryNavMenu li {
    font-family: MontserratMedium;
    color: #fff;
}
#headInfoSubmenu li a, 
#primaryNavMenu li a {
    color: #fff;
    text-transform: uppercase;
}
#primaryNavMenu > .navbar-nav > li > a {
    font-size: 1.1em;
    letter-spacing: 1.1px
}
#primaryNavMenu > .navbar-nav > li > a {
    font-size: 1.1em;
    letter-spacing: 1.1px
}
#headInfoSubmenu > ul.sub-menu > li.menu-item-has-children > a.nav-link,
#primaryNavMenu .navbar-nav > .menu-item-has-children > .sub-menu > li.menu-item-has-children > a {
    color: #F8C246;
    cursor: text;
}
#headInfoSubmenu > ul.sub-menu > li.menu-item-has-children > a.nav-link {
    text-align: center;
}
#headInfoSubmenu > ul.sub-menu > li.menu-item-has-children,
#primaryNavMenu .navbar-nav > .menu-item-has-children > .sub-menu > li.menu-item-has-children > a {
    font-family: Montserrat;
    font-weight: bold;
}
#primaryNavMenu .navbar-nav > .menu-item > a:hover {
    color: #f9c34a;
}
#headInfoSubmenu > .sub-menu > li a {
    color: rgb(255, 255, 255);
    letter-spacing: 0.9px;
}
#headInfoSubmenu > .sub-menu li:not(.menu-item-has-children) a:hover {
    text-decoration: underline
}
.prod-w-icon p {
    font-family: MontserratMedium;
}
.prod-w-icon h1 {
    font-family: Montserrat;
    font-weight: bold;
}