/* FOR sizes - width, height etc */

#headinfoSupportedContent > .row {
    width: 90% !important;
}
#headInfoSubmenu ul,
#primaryNavMenu ul {
    list-style-type: none;
}
#primaryNavMenu .navbar-nav > .menu-item-has-children > ul.sub-menu {
    display: none;
}
/* #headInfoSubmenu > ul.sub-menu > li {
    float: left;
} */
#headInfoSubmenu > ul.sub-menu > li ul,
#primaryNavMenu .navbar-nav > .menu-item-has-children > ul.sub-menu > li > .sub-menu,
#primaryNavMenu .navbar-nav > .menu-item-has-children > ul.sub-menu > li li {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#headInfoSubmenu {
    background: rgba(15, 53, 79, 0.60)
}
nav.primary-main-menu {
    background: rgba(15, 53, 79, 0.88)
}
#headInfoSubmenu {
    position: fixed;
    animation-fill-mode: forwards;
    transition: all ease 0.3s;
}
#headInfoSubmenu > .sub-menu > li {
    width: 190px;
}
#primaryNavMenu {
    max-height: 80vh;
    overflow-y: scroll;
}
#headInfoSubmenu > .sub-menu > li.menu-item-has-children:not(:last-child) {
    border-right: 1px solid #dee2e6!important;
}
#primaryNavMenu .navbar-nav > .menu-item-has-children > .sub-menu > li > ul {
    margin-left: 2em;
}
.prod-w-icon .icon {
    width: 65px;
}
hr.h1-underline {
    width: 100px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
/* #primaryNavMenu > ul > li {
    border-bottom: 1px solid #dee2e6!important;
} */
@media (min-width: 992px) {
    #primaryNavMenu > .navbar-nav > li.nav-item > a.nav-link {
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
}
@media (min-width: 1200px) {
    #primaryNavMenu > .navbar-nav > li.nav-item > a.nav-link {
        margin-right: 1.5rem!important;
        margin-left: 1.5rem!important;
    }
}

